@charset "UTF-8";

/* 20201130 New Ranking Color */

:root {
    --black: #3f3e3b;
    --ddgreen: #0f3c3c;
    --dgreen: #34a3a3;
    --yellow: rgb(226, 215, 87);
    --bgreen: darkcyan;
    --lgreen: #eaf1f0;
    --lyellow: #f9f8ee;
    --red: #e95353;
    --lgrey: #eeeeee;
    --white: #ffffff;
    --number1: #ebdba1;
    --number2: #e8e7e3;
    --number3: #dab18b;
    --number4: #dab18b;
    --number5: rgb(153, 221, 198);
    --btnColor: linear-gradient(180deg, #fe5151 -15%, #fb0707 100%);
    --head1Color: #ebdba1;
    --head2Color: #e8e7e3;
    --head3Color: #dab18b;
    --head4Color: #9bd1c4;
    --head5Color: rgb(153, 221, 198);
    --swiper-theme-color: var(--black) !important;
}


/* http://meyerweb.com/eric/tools/css/reset/ */


/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #2a2a2a;
    box-sizing: border-box;
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif !important;
}

input,
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
textarea,
button,
select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-padding: 4px;
    -moz-padding: 4px;
    -o-padding: 4px;
    padding: 4px;
    -webkit-background-color: #fff;
    -moz-background-color: #fff;
    -o-background-color: #fff;
    background-color: #fff;
}

body {
    line-height: 1.7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

small {
    font-size: 10px;
    line-height: 1.2;
    display: block;
    padding: 4px;
}

a {
    text-decoration: none;
    color: #2a2a2a;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}


/*********************************************************文字*/

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free"!important;
}

.bold {
    font-weight: bold;
}

.bg-y {
    background-image: linear-gradient(180deg, transparent 70%, #fffa68 30%);
}

.y {
    color: #fffa68;
    font-weight: bold;
}

.red {
    color: var(--red);
    font-weight: bold;
}

.newRed {
    color: var(--red);
    font-weight: bold;
}

.under {
    text-decoration: underline;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 0;
}

h1,
h2,
h3,
h4,
a {
    font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif !important;
}

h2 {
    font-family: 'Hannari', serif;
}