@import "css/reset.css";
#wrapper {
    width: 100%;
    background-color: #f4f4f4;
}

#contents {
    margin: 0 auto;
    background: #fff;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/*********************************************************main*/

main {
    padding: 8px;
    box-sizing: border-box;
    /* border-top: 5px solid var(--yellow); */
}

main.sub-page {
    font-size: 14px;
}

main.sub-page h1 {
    background-color: #116168;
    font-size: 17px;
    color: #fff;
    padding: 10px;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

main.sub-page>h3 {
    background-image: url(img/h5.png);
    background-position: left 0.1em;
    background-repeat: no-repeat;
    background-size: 1.18em auto;
    font-size: 17px;
    line-height: 1.5;
    margin: 20px 15px 0px;
    padding: 0 0 0 1.7em;
    overflow: hidden;
    text-align: left;
}

main.sub-page .sub-text-box {
    padding: 8px;
}

.nborder {
    border: none !important;
}

main.sub-page .sub-text-box .column-block {
    margin-top: 20px;
}

main.sub-page .sub-text-box .column-block h3.subtitle {
    background-image: url(img/h5.png);
    background-position: left 0.1em;
    background-repeat: no-repeat;
    background-size: 1.18em auto;
    font-size: 17px;
    line-height: 1.5;
    margin: 30px 0;
    padding: 0 0 0 1.7em;
    overflow: hidden;
    text-align: left;
}

.sub-text-box .column-block h4 {
    margin: 10px 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.sub-text-box .column-block ul.normal-list {
    margin: 20px 0;
}

.sub-box {
    padding: 15px;
    border: 2px solid #cccccc;
}

.ylw-box {
    background-color: #ffffd2;
    border: 2px solid #cc0000;
    padding: 0 15px 15px;
    margin: 10px 0;
}

.point {
    background-image: url(../img/point_default.png);
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: 60px 30px;
    padding: 5px 0 5px 66px;
    margin: auto;
    min-height: 1.875em;
}

main h1 img {
    display: block;
    width: 100%;
}

main section.text-box {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}


/********************ranking*/

#ranking-area .ranking-title {
    padding: 4px 10px;
    position: relative;
}

#ranking-area .ranking-title:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    transform: translateY(-50%);
    background: var(--lyellow);
    z-index: 0;
    border-bottom: 3px solid var(--yellow);
    border-top: 3px solid var(--yellow);
}

#ranking-area .ranking-title h2 {
    padding: 8px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.3;
    background: #fff;
    /* border: 3px solid var(--yellow); */
    width: 76%;
    text-align: center;
    border-radius: 18px;
    position: relative;
    z-index: 2;
    color: var(--ddgreen);
}

#ranking-area .ranking-title h2 span.titleSpan {
    font-weight: bold;
    background: var(--ddgreen);
    color: white;
    font-size: 12px;
    padding: 2px 16px;
    border-top: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
}

#ranking-area article {
    box-shadow: 0 0 5px 0 #eee;
}

#ranking-area article {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border: 1px solid var(--ddgreen);
    border-bottom: 4px solid var(--ddgreen);
    border-top: 4px solid var(--ddgreen);
}

#ranking-area article:last-child {
    margin-bottom: 10px;
}

#ranking-area article .r-title h3 {
    background: rgb(15, 60, 60);
    background: linear-gradient(148deg, rgba(15, 60, 60, 1) 25%, rgba(17, 80, 80, 1) 25%, rgba(15, 60, 60, 1) 69%, rgba(16, 70, 70, 1) 69%);
}

#ranking-area article[data-rank="1"] .r-title h3 {
    border-top: 4px solid var(--head1Color);
    border-bottom: 4px solid var(--head1Color);
}

#ranking-area article[data-rank="2"] .r-title h3 {
    border-top: 4px solid var(--head2Color);
    border-bottom: 4px solid var(--head2Color);
}

#ranking-area article[data-rank="3"] .r-title h3 {
    border-top: 4px solid var(--head3Color);
    border-bottom: 4px solid var(--head3Color);
}

#ranking-area article[data-rank="4"] .r-title h3 {
    border-top: 4px solid var(--head4Color);
    border-bottom: 4px solid var(--head4Color);
}

#ranking-area article[data-rank="5"] .r-title h3 a {
    padding-left: 18px;
}


/*ランキングタイトル*/

.r-title {
    position: relative;
}

.r-title .badge {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 9;
    width: 55px;
    transform: translateY(-50%);
}

.r-title h3 {
    margin-top: 10px;
    padding: 5px 0;
    position: relative;
}

.r-title h3.livestar small {
    position: absolute;
    top: -2px;
    left: 59px;
    color: var(--white);
}

.r-title h3 a {
    font-size: 1.1rem;
    display: inline-block;
    padding-left: 64px;
    color: var(--white);
    font-weight: bold;
}

.r-title .number-box {
    top: 50%;
    transform: translateY(-50%);
    background: var(--white);
    font-weight: bold;
    position: absolute;
    right: 2px;
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.r-title .number-box:after {
    clear: both;
}

.r-title .number-box p {
    line-height: 1;
    color: var(--black);
    /* margin-right: 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-title .number-box .all-eval-title {
    /* background-color: whitesmoke; */
    width: 20px;
    /* height: 30; */
    font-size: 10px;
    position: relative;
    display: none;
}

.r-title .number-box .all-eval-title::before {
    content: "";
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 95%;
    background: var(--yellow);
}

.r-title .number-box .all-eval-ctt {
    /* margin-left: 7px; */
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.r-title .number-box img {
    position: static;
    display: block;
    margin: 0 auto;
    width: 56px;
}

.r-title .number-box span {
    font-size: 17px;
    color: var(--red);
    font-weight: bold;
}

.item-content-box {
    padding: 4px 4px 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.item-content-box .left {
    text-align: center;
    width: 34%;
}

.item-content-box .left a {
    display: block;
}

.item-content-box .left a.txt-btn {
    display: block;
    color: var(--red);
    font-weight: 700;
    position: relative;
    border: 1px solid var(--red);
    font-size: 12px;
    width: 100%;
    margin: 20px auto 0;
    padding: 5px 10px 5px 20px;
}

.item-content-box .left a.txt-btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    margin: 0 4px;
    width: 13px;
    height: 100%;
    background: url(./img/arrow-sm-red.svg) no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    background-position-y: center;
}

.item-content-box .right {
    width: 65%;
}

.item-content-box .right table {
    table-layout: fixed;
    margin: 0 4px 0 0;
    font-size: 9px;
    width: 100%;
}

.item-content-box .right small.line {
    line-height: 1.1;
    margin-top: 7px;
    margin-left: 4px;
}

.item-content-box .left img {
    width: 100% !important;
}

@media only screen and (max-width:320px) {
    .item-content-box {
        padding: 5px;
    }
}


/*おすすめポイント*/

.po-list {
    border-radius: 10px 10px 0 0;
    width: 98%;
    margin: 0 auto 4px;
    border: 2px solid #eee;
    border: 1px solid var(--yellow);
    padding: 4px;
}

.po-list h4 {
    font-size: 14px;
    padding: 4px 8px;
    color: var(--ddgreen);
    min-height: 1.875em;
    border-radius: 6px 6px 0 0;
    border-bottom: 3px solid;
    background: var(--yellow);
    border-bottom: 4px solid var(--ddgreen);
}

.po-list h4 i {
    color: var(--ddgreen);
    font-size: 16px;
    margin-right: 8px;
    border-right: 1px solid;
    padding-right: 8px;
}

.po-list ul li {
    padding: 8px 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.po-list ul li:last-child {
    border: none;
}


/*編集部から*/

.comment {
    width: 98%;
    margin: 0px auto 4px;
    padding: 0.2rem;
    position: relative;
    /* border: 1px solid var(--head4Color); */
    border-radius: 5px;
}

.comment h4 {
    font-size: 14px;
    padding: 4px 8px;
    /* background: var(--ddgreen); */
    color: var(--ddgreen);
    border-radius: 4px 4px 0 0;
    border-bottom: 4px solid var(--yellow);
    border-top: 4px solid var(--yellow);
}

.comment h4 i {
    color: var(--yellow);
    font-size: 14px;
    margin-right: 8px;
    border-right: 1px solid;
    padding-right: 8px;
}

.comment p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    padding: 0 10px 10px;
    color: var(--black);
}

.osubox {
    justify-content: center;
    padding: 5px;
    margin: 15px auto 0;
    background: var(--lgreen);
}

.osubox .osu-ctt {
    background-color: var(--white);
    margin: 10px auto;
    padding: 0 5px;
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 20px 0;
    justify-content: space-evenly;
}

.osubox div {
    padding: 14px 14px 14px 10px;
    position: relative;
    margin-left: 5px;
    margin-right: 0;
    z-index: 1;
}

.osubox div h4 {
    color: var(--black);
    border-bottom: 1px solid var(--lgrey);
    font-size: 14px;
    margin-bottom: 5px;
}

.osubox div ul li {
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
}

.osubox img {
    width: 22%;
    margin-right: 5px;
}

.cam-box {
    margin: 20px auto 0;
    background: url(./img/cam-bg-sp.png) no-repeat;
    background-size: contain;
    width: 92%;
    height: 113px;
    text-align: center;
    position: relative;
    padding: 3px;
}

.cam-box h4 {
    color: var(--white);
    width: 74%;
    position: absolute;
    left: 50%;
    top: -16%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 14px;
    background: url(./img/cam-title-bg.png) no-repeat;
    background-size: contain;
    background-position: 50%;
}

.cam-box h4:after {
    content: "";
    position: absolute;
    width: 59px;
    height: 35px;
    right: -25px;
    top: 0;
    background: url(./img/gifts.png) 50% 50% no-repeat;
    background-size: contain;
}

.cam-box .cam-ctt {
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 0 5px;
    line-height: 1.2;
    align-items: center;
}

@media (max-width: 320px) {
    .cam-box {
        height: 87px;
    }
    .cam-box .cam-ctt {
        font-size: 12px;
    }
}

.button-box,
.button-box-yl {
    margin-top: 0 !important;
    margin-bottom: 20px;
}

.button-box a {
    display: block;
    background: var(--btnColor);
    border: 2px solid #f96e6e;
    border-radius: 18px;
    box-shadow: 0 4px darkred;
    width: 95%;
    height: 70px;
    margin: 0 auto;
    padding-left: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    color: var(--white);
    position: relative;
    z-index: 1;
    overflow: hidden;
    animation: ani 1s infinite alternate;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s;
}

.button-box a img {
    margin-right: 10px;
    width: 100px;
}

.button-box a:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 40px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.button-box a:after {
    content: "";
    position: absolute;
    top: 43%;
    left: 2%;
    width: 32px;
    height: 28px;
    transform: translateY(-40%);
    background: url(./img/arrow-sp.svg) center no-repeat;
    background-size: cover;
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
}

.button-box {
    margin-top: 0;
}

.button-box-yl {
    margin-top: 20px;
}

@media (min-width: 414px) and (max-width: 768px) {
    .button-box a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .button-box a {
        font-size: 13px;
    }
    .button-box a img {
        margin-right: 5px;
        width: 92px;
    }
}

.button-box a p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 16%;
    width: 100%;
    color: #fff;
}

.button-box a:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    z-index: 9;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

@media (min-width: 414px) and (max-width: 768px) {
    .button-box a:after {
        top: 43%;
    }
}

@media only screen and (max-width: 320px) {
    .button-box a:after {
        width: 20px;
        height: 20px;
    }
}

@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

@keyframes ani {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 10px);
    }
}

@keyframes sdb {
    0% {
        opacity: 0;
        left: 2%;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: 5%;
        opacity: 0;
    }
}

.button-box-yl {
    position: relative;
    padding: 10px 20px;
    background: linear-gradient(180deg, #ffe367, #ecb43a);
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1), inset 0 0 3px 2px rgba(255, 255, 255, 0.9);
    border: 1px solid #e2a623;
    margin-bottom: 40px;
}

.button-box-yl a {
    display: block;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
}

.button-box-yl a .fas {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.2rem;
}

.kuchikomi-box {
    margin-top: 30px;
    padding: 10px;
    background: var(--lyellow);
}


/* .kuchikomi-box .swiper-container {
    border: 1px solid var(--black);
} */

.kuchikomi-box .swiper-container .man,
.kuchikomi-box .swiper-container .woman {
    /* background: none; */
    position: relative;
}

.kuchikomi-box .swiper-container .man p:first-child:after {
    content: "";
    background: url(img/man.png);
    background-size: contain;
    position: absolute;
    width: 30px;
    height: 40px;
    right: 0;
    top: -5px;
    background-repeat: no-repeat;
}

.kuchikomi-box .woman p:first-child:after {
    content: "";
    background: url(img/woman.png);
    background-size: contain;
    position: absolute;
    width: 30px;
    height: 40px;
    right: 0;
    top: -5px;
    background-repeat: no-repeat;
}

.kuchikomi-box h4 {
    background: var(--black);
    font-size: 14px;
    color: white;
    padding: 4px 8px;
}

.kuchikomi-box h4 i {
    margin-left: 8px;
    color: var(--white);
    font-size: 20px;
}

.kuchikomi-box .swiper-container {
    background: var(--white);
    padding: 0 10px;
    width: 100%;
}

.kuchikomi-box .swiper-container .swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
}

.kuchikomi-box .re-content div {
    padding: 0.1rem 1rem 2rem;
}

.kuchikomi-box .re-content img {
    top: 50%;
    transform: translateY(-50%);
}

.kuchikomi-box .swiper-slide.re-content p:first-child {
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
}

.kuchikomi-box .swiper-slide.re-content p:first-child .small {
    font-size: 9px;
    background: var(--lgrey);
    padding: 2px;
    margin-left: 4px;
}

.kuchikomi-box .swiper-slide.re-content p:nth-child(2) {
    font-size: 12px;
}

.kuchikomi-box .re-content {
    padding: 0px 0 10px 0;
    border-bottom: none;
}

.kuchikomi-box .re-content div {
    background: var(--white);
}

.kuchikomi-box .re-content div:after {
    display: none;
}

.kuchikomi-box .swiper-button-prev,
.kuchikomi-box .swiper-button-next {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    /* ボタンの幅 */
    height: 20px;
    /* ボタンの高さ */
    background-size: 10px 20px;
    /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
    margin-top: -24px;
    /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}

.kuchikomi-box .swiper-button-prev:after,
.kuchikomi-box .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    display: none;
}

.kuchikomi-box .swiper-button-next {
    right: 0;
    background-image: url(./img/slider-arrow-right.svg);
}


/* 前ページボタンのスタイル */

.kuchikomi-box .swiper-button-prev {
    left: 0;
    background-image: url(./img/slider-arrow-left.svg);
    /* transform: scale(-1, 1); */
}

.swiper-pagination-bullet {
    margin: 0 2px!important;
    width: 8px!important;
    height: 4px!important;
    border-radius: 0!important;
    background: var(--bgreen)!important;
}


/********************pickup*/

#pickup {
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #eee;
}

#pickup h2 {
    font-size: 1.1rem;
    margin: 5px 0;
}

#pickup>article {
    border: none;
    padding: 0;
    box-shadow: none;
}

#pickup>article>.pickupBox {
    background-color: #fff;
}

#pickup>article>.pickupBox .pickupContents {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#pickup>article>.pickupBox .pickupContents p {
    font-size: 14px;
    line-height: 1.5;
}

#pickup>article>.pickupBox h3 {
    background-image: linear-gradient(180deg, #0a575e 50%, #116168 50%);
    background-color: teal;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    position: relative;
    color: white;
}

#pickup>article>.pickupBox h3:before {
    content: "";
    display: inline-block;
    background-image: url(img/pick-ribbon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

#pickup>article>.pickupBox h3 a {
    color: white;
}

.pickupBox .pickupContents {
    margin: 5px;
}

.pickupBox .pickupContents img {
    width: 135px;
    float: left;
    padding-right: 10px;
}

.pickupBox .pickupContents p {
    display: block;
    font-size: 0.9rem;
}

.pickupBox .pickupContents img:after {
    clear: both;
}

.pickupBtn a {
    background-color: #f24147;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    width: 100%;
    padding: 14px 0;
    font-weight: bold;
    box-shadow: 0 5px 0 0 pink;
    position: relative;
    margin: 10px auto 10px;
    line-height: 1.2;
}

.pickupBtn a:after {
    display: inline-block;
    content: ">";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}


/*content*/

#content-area article {
    box-shadow: none;
    border: none;
}

#content-area h2 {
    color: var(--ddgreen);
    font-size: 1.3rem;
    line-height: 1.3;
}

#content-area article.point-article h2 {
    color: var(--dgreen);
}

#content-area article.point-article>img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

#content-area article.point-article img {
    max-width: 100%;
}

#content-area article>p {
    margin: 10px;
    font-size: 12px;
}

.pickupitem {
    text-align: center;
    margin: 30px 0;
}

.pickupitem p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 60px;
}

.pickupitem p:nth-child(2) {
    font-size: 1.9rem;
    font-weight: bold;
    color: red;
}

.pickupitem strong {
    font-size: 1.7rem;
}

ul.misspoint {
    font-weight: bold;
    margin: 20px 10px 10px;
    /* background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.5em auto; */
}

ul.misspoint li {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.55556em auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    border: none;
    line-height: 1.5;
    margin: 5px 0;
    min-height: 1.77778em;
    padding: 0.11111em 0 0 2.11111em;
}

li.point1 {
    background-image: url(img/point1.png);
}

li.point2 {
    background-image: url(img/point2.png);
}

li.point3 {
    background-image: url(img/point3.png);
}

li.point4 {
    background-image: url(img/point4.png);
}

li.point5 {
    background-image: url(img/point5.png);
}

.last-text a {
    font-weight: bold;
    color: var(--dgreen);
    text-decoration: underline;
}

.last-text p {
    margin-bottom: 20px;
}

#content-area article.osu-article {
    margin-top: 50px;
}

#content-area article.last-article {
    margin-top: 30px;
    background-color: var(--white);
    padding: 5px;
}

#content-area article.last-article h2 {
    color: var(--ddgreen);
    margin: 0;
    padding: 10px 0;
    font-size: 1.2rem;
}

#content-area article.last-article .last-text {
    font-size: 14px;
    padding-top: 15px;
}


/*********************************************************review*/

#siteNavi {
    margin: 10px;
    padding: 0;
    color: rgba(51, 51, 51, 0.5);
    font-size: 12px;
    line-height: 1.6;
}

#siteNavi a {
    color: var(--bgreen);
    font-weight: bold;
}

#review-box #review h3 {
    background: var(--ddgreen);
    border-left: 10px solid var(--yellow);
    color: white;
    font-size: 1rem;
    padding: 5px 5px 5px 10px;
}

#review-box #review h3 i.fas {
    margin-left: 8px;
    color: var(--white);
}

#review-box .sp-star {
    display: block;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    left: 4%;
    top: 84px;
    z-index: 1;
    width: 70px;
}

@media only screen and (max-width: 320px) {
    #review-box #review h3 {
        font-size: 1rem;
    }
}

.re-content {
    font-size: 0.8rem;
    background-position: 15px 12px;
    background-size: 18% auto;
    margin: 5px 0;
    min-height: 50px;
    padding: 0px 0 10px 95px;
    border-bottom: 2px dashed #eee;
    position: relative;
}

@media only screen and (max-width: 320px) {
    #review .re-content {
        font-size: 0.8rem;
    }
}

.re-content div {
    background: #eee;
    padding: 10px 15px 10px;
    position: relative;
}

.re-content div:after {
    border-top: 30px solid #eee;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10%;
    left: -15px;
}

.re-content p:first-child {
    font-weight: bold;
    margin: 10px 0;
}

.re-content img {
    display: block;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 50%;
    z-index: 1;
    width: 58px;
}

.re-content p:first-child img:after {
    clear: right;
}

.small {
    font-size: 0.8rem;
    vertical-align: middle;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
}

@media only screen and (max-width: 320px) {
    .small {
        font-size: 0.6rem;
    }
}

.man {
    background-image: url(img/man.png);
    background-repeat: no-repeat;
}

.woman {
    background-image: url(img/woman.png);
    background-repeat: no-repeat;
}


/*********************************************************aside*/

nav {
    width: 100%;
    overflow: hidden;
    padding: 0 8px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

nav .pickup {
    display: none;
}

nav img {
    max-width: 100%;
    vertical-align: middle;
}

nav section {
    margin-bottom: 20px;
}

nav section div h2 {
    color: white;
    /* background-color: var(--lgreen); */
    border-bottom: 3px solid var(--bgreen);
    margin: 0;
    text-align: left;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 4px;
}

nav section div h2 .fas {
    font-size: 1.4rem;
    margin-right: 4px;
    color: var(--bgreen);
}

nav section div h2 span {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    padding: 4px
}

nav section:first-child ul li a {
    padding: 5px;
    display: flex;
}

nav section ul li a {
    display: block;
    padding: 4px;
    font-size: 0.8rem;
    position: relative;
}

nav section ul li a:hover {
    color: #119d9f;
}

nav section ul li a img {
    margin: 0;
}

nav #nav-mokuteki ul {
    display: flex;
    flex-wrap: wrap;
}

nav #nav-mokuteki ul li {
    width: 50%;
}

nav #nav-ranking ul li,
nav #nav-review ul li,
nav #nav-column ul li {
    padding: 8px;
}

section:nth-child(5) ul li a {
    padding-right: 40px;
}

section:nth-child(3) ul li a:after,
section:nth-child(4) ul li a:after,
section:nth-child(5) ul li a:after {
    border-right: 2px solid var(--bgreen);
    border-top: 2px solid var(--bgreen);
    content: "";
    height: 6px;
    margin-top: -3px;
    position: absolute;
    right: 20px;
    top: 50%;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 6px;
}

nav:after {
    clear: both;
}


/*********************************************************footer*/

#pagetop {
    clear: both;
    width: auto;
    padding: 10px 0 0 0;
    margin: 20px 0 0 0;
}

#pagetop a {
    display: block;
    width: 100%;
    color: #fff;
    background-color: var(--ddgreen);
    border-top: 3px solid var(--bgreen);
    text-decoration: none;
    font-size: 13px;
    padding: 8px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
}

#footer {
    width: 100%;
    border-top: 1px solid #e1e3e5;
    margin: -1px auto 0;
    position: relative;
    background-color: #fff;
    text-align: center;
}

#footer a {
    margin: 0;
    padding: 15px 10px;
}

#footsub a {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e1e3e5;
    color: gray;
    display: block;
    font-size: 13px;
    line-height: 1.6;
    padding: 15px 35px 15px 15px;
    position: relative;
    text-align: left;
    text-decoration: none;
    margin: 0;
}

#footsub a:before {
    border-right: 2px solid #c2c2c2;
    border-top: 2px solid #c2c2c2;
    content: "";
    height: 6px;
    margin-top: -3px;
    position: absolute;
    right: 20px;
    top: 50%;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 6px;
}

#footer small {
    color: rgba(51, 51, 51, 0.5);
    display: block;
    font-size: 9px;
    line-height: 1.6;
    padding: 17px 10px;
}


/****************************************/

table.rank-table {
    table-layout: fixed;
}

table.rank-table th {
    height: 40px;
    padding: 4px 1px !important;
    background: var(--lgrey);
}

table.rank-table td {
    height: 40px;
    padding: 4px 0 !important;
    font-size: 11px;
}

table.rank-table th,
table.rank-table td {
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
}

table.rank-table.table-second {
    width: 98%;
    margin: 0 auto 4px;
}

table.rank-table.table-second th {
    font-size: 11px;
    padding: 0;
    background-color: var (--lgrey);
}

table.rank-table.table-second td p {
    display: flex;
    justify-content: center;
    align-items: center;
}

table.rank-table.table-second td p img {
    width: 16px;
}

table.rank-table.america td {
    vertical-align: middle;
    padding: 5px 2px!important;
    line-height: 1.2;
}

@media (max-width: 320px) {
    table.rank-table.table-second {
        width: 97%;
    }
}

table.small-table {
    table-layout: fixed;
}

table.small-table th {
    font-size: 1rem;
    vertical-align: middle;
    line-height: 1.2;
    padding: 18px 4px!important;
}

table.small-table th p {
    color: white;
}

table.small-table th,
table.small-table td {
    text-align: center;
    font-size: 12px;
}

table.small-table td {
    vertical-align: baseline;
}

table.small-table td p {
    margin: 0 !important;
    /* font-size: 1rem; */
    padding: 4px;
    font-weight: bold;
    line-height: 1.4;
}

table.small-table a img {
    width: 100%;
}

table.small-table td a {
    color: var(--dgreen);
    display: inline-block;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: bold;
}

table.small-table td a.t-btn {
    border-radius: 5px;
    background: var(--btnColor);
    box-shadow: 0px 2px 0 #c00707, inset 0px 2px 0px tomato;
    display: block;
    width: 98%;
    height: auto;
    padding: 5px 3px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 26px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px;
}

table.small-table td a.t-btn:hover {
    top: 5px;
}

table.ame-table {
    border: #001146;
    font-size: 0.9rem;
    margin: 10px auto;
    width: 97%;
}

table.ame-table th {
    background: rgb(180, 197, 243);
    /* display: flex; */
}

table.ame-table th,
td {
    border: 1px solid #fff;
    vertical-align: middle;
}

table.ame-table tr:first-child th {
    text-align: center;
    font-size: 1.1rem;
}

.ame-hikaku-box {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.ame-hikaku-box .scroll_div {
    height: auto !important;
}

.ame-hikaku-title {
    background-color: #0a575e;
    padding: 5px 5px 5px 10px;
    color: white;
    font-size: 20px;
    width: 100%;
    text-shadow: 2px 2px 0 #001146;
}

.ame-hikaku-title .fas {
    color: red;
    margin-right: 0.3rem;
}

.ame-hikaku-box table.ame-hikaku-table {
    width: 100%;
}

.ame-hikaku-box table.ame-hikaku-table thead td,
.ame-hikaku-box table.ame-hikaku-table tbody td {
    text-align: center !important;
    font-size: 12px !important;
}

.ame-hikaku-box table.ame-hikaku-table tbody td {
    background: #fff !important;
}

.ame-hikaku-box table.ame-hikaku-table a {
    display: block;
    font-weight: bold;
}

.ame-hikaku-box table.ame-hikaku-table a.btn {
    width: 96px;
    margin: auto;
    padding: 5px;
    background: red;
    border-radius: 5px;
    color: #fff;
}

.sp {
    display: block;
    background: cornsilk;
    font-size: 0.9rem;
    color: red;
    padding: 5px 15px;
    margin: 0;
}

#search-bx {
    margin-top: 10px;
}

#search-bx .formtitle {
    width: 100%;
}


/*********************************************************nisa.php merit*/

.nisa-merit-box {
    border: 2px solid #f3454c;
    margin: 2px;
    overflow: hidden;
}

.nisa-merit-title {
    background: #f3454c;
    color: white;
    padding: 4px 20px;
    text-align: center;
}

.nisa-merit-list {
    list-style-type: disc;
    padding: 10px;
    padding-left: 25px;
}

.nisa-merit-list li {
    color: #272e2f;
    font-size: 0.9rem;
    width: auto;
    border-bottom: 1px dotted orange;
    color: #f3454c;
    word-break: break-all;
}

.nisa-merit-box .fas {
    font-size: 1rem;
    color: #f3454c;
}

.icon-box {
    text-align: center;
}

.nisa-last-txt {
    font-weight: bold;
    color: #df1e25;
    padding-left: 18px;
    margin-bottom: 10px;
    text-align: center;
}


/* Column 一覧 */

.column-box {
    margin-bottom: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid #e1e3e5;
    padding: 8px 19px;
    border-left: 10px solid cadetblue;
}

.column-box .title-link {
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.column-box .ctt p {
    font-size: 11px;
    color: #666;
}

.column-box .fas {
    color: cadetblue;
    margin-right: 8px;
}